* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.price_top_block {
    width: 100%;
}

.price_title_block {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.price_section {
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
}

.price_title2 {
    color: blue;
}

.price_subTitle {
    color: gray;
    margin-bottom: 50px;
}

.price_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_card {
    width: 250px;
    height: 350px;
    padding: 10px 5px;
    background: rgba(137, 0, 137, 0.626);
    border-radius: 10px;
    transition: 300ms;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.heading-2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 30px;
}
.price{
    width: 100%;
    background: rgba(255, 192, 203, 0.401);
    font-size: 24px;
    color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.price_card:hover {
    transform: scale(1.1);
    background: rgb(0, 170, 255);
}

.price_btn {
    background: white;
    color: blue;
    transition: 800ms;
    font-weight: 700;
    width: 100%;
    height: 50px;
    margin: 12px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.price_card:hover .price_btn {
    background: wheat;
    box-shadow: 0 0 100px white;
    text-shadow: 0 0 20px white;
    font-weight: 700;
    color: blue;
}
.price_gap{
    margin: 10px auto;
    }
@media screen and(max-width:991px) {
    .price_cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .price_card{
    margin: 10px auto;
    }
    .price_gap{
        margin: 30px;
        }
}