@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.waves {
    height: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.aboutUs-wrapper {
    width: 100%;
    height: 1360px;
    font-family: 'Poppins', sans-serif;
}

.aboutUs_title {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: blue;
    font-size: 24px;
}

.aboutUs_extra_info {
    width: 100%;
    height: 210px;
    background: rgba(79, 211, 255, 0.513);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.aboutUs_extra_info ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
}

.aboutUs_extra_info ul li {
    list-style: inside;
    letter-spacing: 0.1em;
}

.aboutUs_extra_info ul li span {
    color: rgb(132, 0, 255);
    font-size: 18px;
}

.carousel-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel_caption {
    background: rgba(0, 0, 0, 0.57);
}

@media screen and (max-width:768px) {
    .about-us-section {
        width: 100%;
        height: auto;
        display: block;
    }

    .carousel-img {
        width: 100%;
        height: 300px;
    }

    .carousel_caption {
        transform: translateY(-10px);
        background: rgba(0, 0, 0, 0.57);
        height: 50px;
        padding: 5px;
    }

    .carousel_caption p {
        background: rgba(0, 0, 0, 0.57);
    }

    .aboutUs-wrapper {
        width: 100%;
        height: auto;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }

    .aboutUs_extra_info {
        width: 100%;
        height: 310px;
        background: rgba(79, 211, 255, 0.513);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

    }

    .aboutUs_extra_info ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        font-size: 14px;
    }

    .aboutUs_extra_info ul li {
        list-style: inside;
        letter-spacing: 0.1em;
    }

    .aboutUs_extra_info ul li::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: gray;
    }

    .aboutUs_extra_info ul li span {
        color: rgb(132, 0, 255);
        font-size: 16px;
    }

}

@media screen and (min-width:769px) {
    .aboutUs-wrapper {
        width: 100%;
        height: 1260px;
        font-family: 'Poppins', sans-serif;
    }
}